export PYTHONBREAKPOINT=IPython.embed

export VIRTUAL_ENV_DISABLE_PROMPT=1

# export POETRY_VIRTUALENVS_PATH=$(pwd)/.venv  # to creative venv in project directory

export GIT_AUTHOR_EMAIL=gavinln@hotmail.com
export GIT_COMMITTER_EMAIL=gavinln@hotmail.com

# export BAT_THEME="Solarized (light)"
export BAT_THEME="Solarized (dark)"

# Ludwig environment
export NUMEXPR_MAX_THREADS=6

layout_poetry() {
  if [[ ! -f pyproject.toml ]]; then
    log_error 'No pyproject.toml found. Use `poetry new` or `poetry init` to create one first.'
    exit 2
  fi

  # create venv if it doesn't exist
  poetry run true

  export VIRTUAL_ENV=$(poetry env info --path)
  export POETRY_ACTIVE=1
  PATH_add "$VIRTUAL_ENV/bin"
}

# layout poetry
