[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dask = "*"
ludwig = {extras = ["viz"], version = "*"}
fire = "*"
horovod = "*"
s3fs = "*"
ray = "*"
pytest = "*"
ipython = "*"
black = "*"
flake8 = "*"
mypy = "*"
python-lsp-server = "*"
vulture = "*"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3.8"
